<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="company-name">SoberGraphics.sg</div>
    </header>
    <main class="main-content">
      <p class="small-text"><span class="transition-text">AI-Powered Poster Generator</span></p>
      <h1 class="main-heading">
        We design tailored<br />
        posters, <u>faster</u>
      </h1>
      <p class="subtext">
        Your One-Stop Solution for<br />
        Customised Preventive Drug Education Materials.
      </p>
      <a href="/prompt" class="btn">Start Creating!</a>
    </main>
  </body>
</html>
